.collection-container {
    max-width: 1000px;
    width: 100%;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Center Horizontally */
    align-items: center;

    color: #FFD700;

    padding-left: 25%;
    padding-right: 250px;

}

.collection-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.collection-card {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: #454444;
    color: white;
    text-align: center;
}

.collection-card img {
    width: 100%;
    border-radius: 8px;
}

.collection-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.collection-card p {
    font-size: 14px;
    margin: 5px 0;
}

.collection-card button {
    background-color: #FFD700;
    color: #1e1e1e;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;

}

.collection-card button:hover {
    background-color: #ffd900d3;
}